body {
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    max-width: 800px;
  }
  
  #loader {
    display: none;
    font-weight: bold;
  }
  
  #repositories {
    margin-top: 20px;
  }
  
  .pagination {
    justify-content: center;
  }


  
  